/*
Mobile ( <768px) ----
fixture -------sm
#of columns -------------- 총4개
gutter  ------------------20px
margin -------------------5px
container-size     --------100% -(5px*2)  여기서 5px는 양쪽의 margin값
unit---------------------------(100% -(5px*2)) /4 -20px
*/

/*
Tablet ( >768px) ----
fixture ------- md
#of columns    총12개
gutter  ---------------20px
margin --------------5px
container-size     --------100% -(30px*2)  여기서 5px는 양쪽의 margin값
max-container-size -------------960px
*/

/*
DeskTop ( >1200px) ----
fixture -------lg
#of columns   -------12개
gutter  -------------20px
unit ----------------75px
margin --------------auto
container-size     --------1140px
max-container-size -------------1140px
*/

$sm-columns: 4;

$gutter: 20px;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  // col-sm-1,clo-md-2,col-lg-1  ^ 이걸붙히면 col- 뒤에붙는게 다온다
  [class^='col-'] {
    padding: 0 $gutter/2;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
    }
  }

  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;
  }

  @for $i from 1 through $md-columns {
    .col-md-#{$i} {
      width: percentage($i / $md-columns);
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;
  }

  @for $i from 1 through $lg-columns {
    .col-lg-#{$i} {
      width: ($lg-unit + $gutter) * $i;
    }
  }
}
