.lnb {
  $lnb-height-sm: 40px;
  $lnb-height-md: 50px;
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter/2;

  overflow-x: auto;

  @include no-scrollbar;

  &-list {
    @include inline-flexbox;
    height: $lnb-height-sm;
    padding: 0 $grid-margin - $lnb-link-padding;
    margin-left: -($grid-margin);
    white-space: nowrap;
    border-bottom: 1px solid $border;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include text-style(13, $black);
      @include inline-flexbox;
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;
    &-list {
      height: auto;
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
