//sidebar css

.sidebar {
  @include no-scrollbar;
  $sidebar-width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: $sidebar-width;
  height: 100vh;
  padding: 32px 20px;
  overflow-y: auto;
  background-color: $white;
  transform: translate3d(-($sidebar-width), 0, 0);
  transition: transform 300ms ease-in-out;
  overscroll-behavior: contain;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    padding: 0 12px;

    .logo {
      @include flexbox(start);

      a {
        display: block;
      }

      img {
        display: block;
        width: auto; //img height값의맞춰서 width값이된다 알아두자
        height: 20px;
      }
    }
  }

  &-user,
  &-auth {
    @include flexbox(start);

    height: 88px;
  }

  &-user {
    a {
      @include flexbox(start);
      @include text-style(14, $primary);
      width: 100%;
      font-weight: 700;
    }

    .avatar-24 {
      flex-grow: 0;
      flex-shrink: 0; // shrink 다른박스가 크든 작든 절대변하지않게하는설정
      margin-right: 8px;
    }

    .username {
      @include truncate;
      flex-grow: 1;
      //이렇게 설정한이유는 만약 닉네임이 width값을 초과하면 레이아웃이 망가지기떄문에 overflow를 주었다
    }
  }

  &-auth {
    @include flexbox(between);

    a {
      width: 84px;
    }
  }

  &-nav {
    .drawer-menu {
      border-top: 1px solid $border;

      &.is-expert {
        border-bottom: 1px solid $border;
      }
    }
  }

  &-user-menu {
    margin-top: 16px;

    .user-menu-item {
      a {
        @include flexbox(start);
        @include text-style(14, $primary);
        width: 100%;
        height: 36px;
        padding: 0 12px;

        &:active {
          color: $blue;
        }
      }
    }
  }
}
